.listagem {
    position: absolute;
    top: 3.3em;
    right: 0.15em;
    width: 99%;
    color: #000;
    font-weight: bold;
}

.listagem .pokemon {
    display: none;
    align-items: center;
    
    background-color: #444444;
    color: #ffff;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.listagem img {
    width: 60px;
    padding-right: 15px;
}

.listagem .pokemon.ativo {
    background-color: #c55900;
}

@media (min-width: 700px) {
    .listagem {
        position: static;
        width: 12em;
        color: #000;
        font-weight: bold;
    }

    .listagem .pokemon {
        display: flex;
        justify-content: space-around;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: 0.15s ease-in-out;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -ms-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
    }

    .listagem .pokemon:hover {
        cursor: pointer;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        box-shadow: 1px 1px 2px black;
    }

    .listagem li {
        margin-bottom: 5px;
    }
}

.listagem.is-open .pokemon{
    display: flex;
}
